nni
nni[SMAC] # also needs to install swig either with apt or brew
botorch==0.7.3
pyro-ppl==1.8.3
dill
numpy
psutil
typing
pandas
plotly
kaleido
# for testing
parameterized
# Formating and type checks
pyre-check
black
black[jupyter]
flake8
dataclasses-json
dataclass-csv
jupyter
matplotlib
seaborn
dataclasses
setuptools
torch==1.13
gpytorch
scikit-learn
tenacity
tensorboard
networkx
tqdm
scipy
causalnex
pygraphviz
timeout-decorator
psycopg2
dacite
isort
pylint
# ssh support for docker
paramiko
